<mat-card>
    <mat-card-title>Create-Drive</mat-card-title>
    <mat-card-content>
        <form [formGroup]="driveform" (ngSubmit)="submit()">
<p>
    <mat-form-field >
      <mat-label>Company Name</mat-label>
      <input matInput  formControlName="companyname">
      <div *ngIf="driveform.get('companyname').error?.required">New required</div>
      <mat-error *ngIf="driveform.get('companyname').errors?.required">
          comapny name is required
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field >
      <mat-label>Exp Required</mat-label>
      <input matInput formControlName="exp">
      <mat-error *ngIf="driveform.get('exp').errors?.required">
      Exprience is required
    </mat-error>
     
    </mat-form-field>
  </p>
  <p>
    <mat-form-field >
      <mat-label>CTC</mat-label>
      <input matInput  formControlName="ctc">
      <mat-error *ngIf="driveform.get('ctc').errors?.required">
       ctc is required
    </mat-error>
      </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Select Joining Criteria</mat-label>
      <mat-select formControlName="joining">
        <mat-option value="0">NO training direct joining</mat-option>
        <mat-option value="1">3 month Internship then joining</mat-option>
      </mat-select>
      <mat-error *ngIf="driveform.get('joining').errors?.required">
          Joining field is required
      </mat-error>
    </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Bond</mat-label>
        <mat-select formControlName="bond">
          <mat-option value="0">1 year</mat-option>
          <mat-option value="1">2 year</mat-option>
        </mat-select>
        <mat-error *ngIf="driveform.get('bond').errors?.required">
         Bond is required
      </mat-error>
        </mat-form-field>
    </p>

<p>
  <mat-form-field>
    <mat-label>Select Position</mat-label>
    <mat-select formControlName="position">
      <mat-option value="0">Full stack Developer</mat-option>
      <mat-option value="1">Ui Developer</mat-option>
      <mat-option value="2">Middleware/Backend Developer</mat-option>
      <mat-option value="3">Testing Engineer</mat-option>
    </mat-select>
    <mat-error *ngIf="driveform.get('position').errors?.required">
        Position is required
    </mat-error>
  </mat-form-field>
 
  <p>
  <mat-form-field>
   
    <mat-label>Education Criteria</mat-label>
    <mat-select formControlName="education">
      <mat-option value="0">BE</mat-option>
      <mat-option value="1">12TH</mat-option>
      <mat-option value="2">Other</mat-option>
    </mat-select>
    <mat-error *ngIf="driveform.get('education').errors?.required">
       Education is required
    </mat-error>
    </mat-form-field>
</p>


      <p>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="followup" placeholder="FollowUp date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="driveform.get('followup').errors?.required">
            FollowUp Date is required
           </mat-error>
        </mat-form-field>
      </p>

    

      <div class="button">
    <button [disabled]="!driveform.valid" type="submit" mat-raised-button color="primary">Create Drive</button>
</div>
</form>
</mat-card-content>
</mat-card> 
